@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoAnCNPM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DoAnCNPM</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - DoAnCNPM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
*@

<div class="modal js-modal">
    <div class="modal__overlay"></div>
    <div class="modal__body">

        <!-- Register form -->
        <div class="auth-form js-auth-forms">
            <div class="auth-form__container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Create account</h3>
                    <div class="modal__close js-modal__closes">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <button class="auth-form__switch-btn js-Create">Sign in</button>
                </div>
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" class="auth-form__input" placeholder="Your email">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" class="auth-form__input" placeholder="Your password">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" class="auth-form__input" placeholder="Re-enter password">
                    </div>
                </div>

                <div class="auth-form__aside">
                    <p class="auth-form__policy-text">
                        By creating an account, you agree to Just A Girl
                        <a href="" class="auth-form__policy-link">Conditions of Use</a> and
                        <a href="" class="auth-form__policy-link">Privacy Notice.</a>
                    </p>
                </div>

                <div class="auth-form__controls">
                    <button class="btn btn--primary">Continue</button>
                </div>
            </div>

            <div class="auth-form__socials">
                <a href="" class="auth-form__socials--facebook btn btn--size-s btn-with-icon">
                    <i class="auth-form__socials-icon fa-brands fa-square-facebook"></i>
                    <span class="auth-form__socials-title">
                        Continue with Facebook
                    </span>
                </a>
                <a href="" class="auth-form__socials--google btn btn--size-s btn-with-icon">
                    <i class="auth-form__socials-icon fa-brands fa-google"></i>
                    <span class="auth-form__socials-title">
                        Continue with Google
                    </span>
                </a>
            </div>
        </div>

        <!-- Sign in form -->
        <div class="auth-form js-auth-form">
            <div class="auth-form__container">
                <div class="modal__close js-modal__close">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="auth-form__header">
                    <h3 class="auth-form__heading ">Sign in</h3>
                    <button class="auth-form__switch-btn js-auth-form__switch-btn ">Create account</button>
                </div>
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" class="auth-form__input" placeholder="Your email">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" class="auth-form__input" placeholder="Your password">
                    </div>

                </div>

                <div class="auth-form__aside">
                    <div class="auth-form__help">
                        <a href="" class="auth-form__help-link auth-form__help auth-form__help-forgot">Forgot your password?</a>
                        <span class="auth-form__help-separete"></span>
                        <a href="" class="auth-form__help-link">Need help?</a>
                    </div>


                    <p class="auth-form__policy-text">
                        By creating an account, you agree to Just A Girl
                        <a href="" class="auth-form__policy-link">Conditions of Use</a> and
                        <a href="" class="auth-form__policy-link">Privacy Notice.</a>
                    </p>
                </div>

                <div class="auth-form__controls">
                    <button class="btn btn--primary">Continue</button>
                </div>
            </div>

            <div class="auth-form__socials">
                <a href="" class="auth-form__socials--facebook btn btn--size-s btn-with-icon">
                    <i class="auth-form__socials-icon fa-brands fa-square-facebook"></i>
                    <span class="auth-form__socials-title">
                        Continue with Facebook
                    </span>
                </a>
                <a href="" class="auth-form__socials--google btn btn--size-s btn-with-icon">
                    <i class="auth-form__socials-icon fa-brands fa-google"></i>
                    <span class="auth-form__socials-title">
                        Continue with Google
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>